body {
    background-color: #292640;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cat-gif {
    width: 200px;
    height: auto;
    padding-right: 20px;

}
.nav-bar {
    width: 100%;
}

ul,
li {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  color: #9c9fdd;
}

a{
    color:inherit;
    text-decoration: none;
}

.container {
    width: 50%;
    margin: auto;
    padding: 10px;
    border: 1px solid #9c9fdd;
}
.btn-container{
    padding: 15px;
    display: inline-block;
    
}

.btn {
    background-color: #d4d9f1;
    padding: 10px;
    border-style:none;
    border-radius: 4px;
}

.github {
    width: 35px;
    height: auto;
    padding: 30px;
}

.message-container {
    background-color: #f2f4fb;
    color: black; 
    padding: 10px;
    margin-top: 10px; 
    border-radius: 4px;
    border: 1px solid #9c9fdd;
    width: 50%;
    margin: auto;
}